#cart-circle{
    width: 1.5vw;
    height:2vh;
    background-image: linear-gradient(180deg,yellow,red);
    border-radius: 100%;
    position: fixed;
    top: 2vh;
    right: 10vw;
    color: black;
    cursor: pointer;
    transition: 1s;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cart-circle > p{
    padding-right: 1vw;
}
#cart-circle:hover{
    width: 20px;
    height: 20px;
}
@media (max-width:1040px){
    #cart-circle{
        right: 5vw;
        top: 1.5vh;
        width: 2vw;
        height: 2.5vh;
    }
    #cart-circle > p{
       padding-right: 0.8vw;
    }
}
@media (max-width: 675px){
    #cart-circle{
          right: 10vw;
          width: 3vw;
          height: 3.5vh;
    }
}
