.datagrid {
  margin-top: 10rem;
  height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.even-row {
  background-color: #f9f9f9;
}

.odd-row {
  background-color: rgba(0, 0, 0, 0.05);
}
.order-h1 {
  margin: auto;
  width: 100%;
  height: 5vh;
  top: 12vh;
  position: fixed;
  text-align: center;
  color: yellowgreen;
}
@media (max-width: 1040px) {
  .datagrid {
    margin-top: 12rem;
  }
  .order-h1{
    top: 20vh;
  }
}
